.e-bar-buttons{
    display: flex;
  }
  .e-bar-buttons button {
    box-sizing: border-box;
    width: 186px;
    height: 35px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    background: #83A6D1;
    border: 3px solid #FFFFFF;
    color: #0D2B50!important;    
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }

  .first-bar-button{    
    border-radius: 10px 0px 0px 10px;
  }
  .last-bar-button{
    border-radius: 0px 10px 10px 0px;
  }

  .e-bar-buttons button:hover{
    background-color: #0D2B50!important;
    color: #FFFFFF!important;
  } 