<div class="e-bar-buttons">
    <button class="first-bar-button" [routerLink]="'/dashboard/customers/customer-info/'+selectedCustomerId" routerLinkActive="active">Customer Info</button>
    <button routerLink="/dashboard/customers/customer-bill" routerLinkActive="active">Customer Account</button>
    <button [routerLink]="'/dashboard/customers/customer-address/'+selectedCustomerId" routerLinkActive="active">Address</button>
    <button class="last-bar-button" [routerLink]="'/dashboard/customers/customer-contact-medium/'+selectedCustomerId" routerLinkActive="active">Contact Medium</button>
</div>