@import '../../../../styles.css';

.e-title-text-cntr {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    color: #FFFFFF;

}

.e-cntr-box {
    box-sizing: border-box;
    height: 190vh;
    border-right: none !important;
    border-bottom: none !important;
    padding-left: 30px;
    padding-top: 30px;
    margin-right: -10px;
    border: 4px solid #F58220;
    

}