<div class="e-offer-selection-container">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-end p-0">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'Offer Selection'">
    <div class="e-offer-selection-content">
      <div class="row">
        <div class="col-8 e-offer-selection-center">
          <app-tab-menu>
            <div one>
              <app-table-scroll>
                <thead>
                  <tr class="table-title">
                    <th data-th="first">Compaign ID</th>
                    <th data-th="second">Prod Offer ID</th>
                    <th data-th="third">Prod Offer Name</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr *ngFor="let item of offers">
                      <td data-th="first"></td>
                      <td data-th="second"></td>
                      <td data-th="third"></td>
                  </tr>
                </tbody>
              </app-table-scroll>
            </div>
            <div two>
              <h3>Compaign</h3>
            </div>
          </app-tab-menu>
        </div>
        <div class="col-4 e-offer-selection-center">
          <app-basket></app-basket>
        </div>
      </div>

      <div class="e-buttons">
        <div class="row">
            <div class="col-8 d-flex justify-content-end">
                        <button etiyaButton="clear">CANCEL</button>

            </div>
            <div class="col-4 d-flex justify-content-end">
                <button etiyaButton="clear-disabled">NEXT</button>

            </div>
        </div>
      </div>
    </div>
  </app-main-layout>
</div>
