::ng-deep body {
  background-color: #061f3e !important;
}
.bar-menu {
  margin-top: -35px;
  margin-left: 350px;
}

.e-customer-content {
  box-sizing: border-box;
  margin-left: 60px;
  width: 1125px;
  height: 220px;
  margin-left: 120px;
  background: rgba(13, 43, 80, 0.7);
  border: 3px solid #f58220;
  border-radius: 22px;
}

label {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 27px;
  color: #ffffff;
}

.e-frame-container {
  position: relative;
}

.e-form-frame {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(13, 43, 80, 0.7);
  border: 3px solid #f52020;
  border-radius: 22px;
}

.customer-title {
  display: flex;
  justify-content: center;
}

.e-customer-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.e-dropdown {
  box-sizing: border-box;
  width: 299px;
  height: 51.17px;
  background: rgba(13, 43, 80, 0.8);
  border-radius: 2px;
}

.e-dropdown select {
  box-sizing: border-box;
  width: 299px;
  height: 49px;
  color: #f58220;
  background: #061f3e;
  border: 1px solid #f58220;

  border-radius: 1px;
  float: right;
}

.app-user-info {
  width: 264px;
  margin-left: 35px;
  margin-top: -20px;
}
