.e-title-line {
  position: relative;
}
.e-title-container {
  position: initial !important;
}
.e-search-title {
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;
  color: #ffffff;
  padding-left: 42px !important;
}
.e-horizontalLine {
  position: absolute;
  width: 3px;
  height: 223px;
  left: 40px;
  top: -120px;
  background: #f58220;
  border-radius: 2px;
  transform: rotate(-90deg);
}
.e-verticalLine {
  position: absolute;
  width: 3px;
  height: 167px;
  left: 54px;
  top: -50px;
  background: #f58220;
  border-radius: 2px;
  transform: rotate(-180deg);
}
.e-star {
  font-weight: bold;
  font-size: 40px;
}
