<div class="search-background">
  <app-navbar></app-navbar>

  <div class="container-fluid">


    <div class="row">
      <div class="col-3">
        <app-user-info></app-user-info>

        <app-side-filter [filterTitle]="'SEARCH CUSTOMER'" (filteredData)="search($event)">
        </app-side-filter>
      </div>

      <div class="col-9 pt-0 aaaa">
        <app-settings-menu></app-settings-menu>

        <div class="e-search-container">
          <app-container class="e-container">
            <div *ngIf="lenght ==0; else tableInfo ">
              <app-not-found [btnText]="'CREATE CUSTOMER'"></app-not-found>
            </div>
            <ng-template #tableInfo>
              <div class="table-responsive">
                <app-table-info class="e-table">
                  <thead>
                    <tr class="table-title">
                      <th class="col-2">Customer ID</th>
                      <th class="col-2">First Name</th>
                      <th class="col-2">Second Name</th>
                      <th class="col-2">Last Name</th>
                      <th class="col-2">Role</th>
                      <th class="col-2">ID Number</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <div *ngIf="filteredCustomerList && lenght !=0; then filteredListState else otherState">

                    </div>
                    <ng-template #filteredListState>
                      <tr *ngFor="let customer of filteredCustomerList">
                        <th>{{customer.id}}</th>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.middleName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.role}}</td>
                        <td>{{customer.customerId}}</td>
                      </tr>
                    </ng-template>
                    <ng-template #otherState>
                      <tr *ngFor="let customer of customerList">
                        <th>{{customer.id}}</th>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.middleName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.role}}</td>
                        <td>{{customer.customerId}}</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </app-table-info>
              </div>
            </ng-template>
          </app-container>
        </div>
      </div>
    </div>





  </div>
</div>
