.search-background {
  background-color: #061F3E !important;
}

.app-user-info{
  width: 264px;
}


.e-search-container{
  margin: 65px 0px 0px 25px;
  height: 100vh!important;

}

::ng-deep .e-input-dark{
  margin-left: 15px;
}


