<div class="e-address-container">
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-end p-0">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
  <app-main-layout [layoutTitle]="'CREATE CUSTOMER'">
    <div class="e-address-content">
      <div class="address-title mb-5">
        <app-info-title [infoTitle]="'Address Info'"></app-info-title>
      </div>
      <div class="d-flex justify-content-center m-8">
        <div class="e-address-form-container">
          <div class="row">
            <a class="e-form-close" routerLink="/list-address-info">X</a>
          </div>
          <form [formGroup]="addressForm">
            <div class="row">
              <div class="col-12 col-xl-5">
                <div class="row e-address-input">
                  <div class="col-12 col-lg-4 e-address-col-center">
                    <label for="city">City<span class="e-star">*</span> </label>
                  </div>
                  <div class="col-12 col-lg-8 e-address-col-center">
                    <div class="e-dropdown">
                      <select etiyaInput="dark" name="gender" id="gender" formControlName="city">
                        <option selected disabled hidden value="">Choose a city</option>
                        <option *ngFor="let city of cityList" [ngValue]="city">{{city.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-7">
                <div class="row e-address-input">
                  <div class="col-12 col-lg-4 e-address-col-center">
                    <label for="flatNumber">House/Flat Number<span class="e-star">*</span>
                    </label>
                  </div>
                  <div class="col-12 col-lg-8 e-address-col-center">
                    <input type="text" etiyaInput="dark" formControlName="flatNumber" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-5">
                <div class="row e-address-input">
                  <div class="col-12 col-lg-4 e-address-col-center">
                    <label for="street">Street<span class="e-star">*</span>
                    </label>
                  </div>
                  <div class="col-12 col-lg-8 e-address-col-center">
                    <input type="text" etiyaInput="dark" formControlName="street" />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row mb-1">
                  <div class="col-12 e-address-col-center">
                    <label for="address-description">Address Description<span class="e-star">*</span>
                    </label>
                  </div>
                  <div class="col-12 e-address-col-center">
                    <textarea class="e-address-desc" placeholder="" formControlName="description"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2 d-flex justify-content-center">
              <div class="col-2">
                <button etiyaButton="clear" (click)="addAddress()">
                  SAVE
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-main-layout>
</div>