<div class="row">
    <table class="e-table table table-bordered table-hidden">
        <thead>
          <tr class="table-title">
            <th data-th="first">Compaign ID</th>
            <th data-th="second">Prod Offer ID</th>
            <th data-th="third">Prod Offer Name</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let item of offers">
              <td data-th="first"></td>
              <td data-th="second"></td>
              <td data-th="third"></td>
          </tr>
        </tbody>
      </table>
  </div>
  