@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&display=swap%27');

.e-title-container {
    position: relative;
    overflow: hidden;
    display: block;text-align: left;
}


.e-title {
    display: block;
    position: relative;
    font-family: 'Anybody', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    letter-spacing: 0.38em;
}


.e-title::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
    background-color: #F58220;
    border: 1px solid #F58220;
}

.e-info-title {
    width: 273px;
    height: 33px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    color: #FFFFFF;
  }
  
  .e-title-container-info {
    position: relative;
  }
  
  .verticalLine-info {
    position: absolute;
    width: 3px;
    height: 42px;
    left: 295px;
    top: -15px;
    background: #F58220;
    border-radius: 2px;
  }
  
  .horizontalLine-info {
    position: absolute;
    width: 3px;
    height: 105px;
    left: 257px;
    top: -59px;
    background: #F58220;
    border-radius: 2px;
    transform: rotate(90deg)
  }
  
  .mini-verticalLine-info {
    position: absolute;
    width: 3px;
    height: 43px;
    left: 20px;
    top: 3px;
    background: #F58220;
    border-radius: 2px;
    transform: rotate(-180deg);
  }
  
  .mini-horizontalLine-info {
    position: absolute;
    width: 3px;
    height: 104px;
    left: 59px;
    top: -18px;
    background: #F58220;
    border-radius: 2px;
    transform: rotate(-90deg);
  }