<div class="e-create-customer-table">
  <app-navbar></app-navbar>
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="col-12 app-user-info">
          <app-user-info></app-user-info>
        </div>
      </div>
      <div class="col-12 col-lg-9 d-flex justify-content-end p-0">
        <app-settings-menu></app-settings-menu>
      </div>
    </div>
    <div class="bar-menu">
      <app-bar-menu></app-bar-menu>
    </div>
  </div>

  <app-main-layout [layoutTitle]="'Contact Medium'">
    <div class="p-5"></div>
    <div class="e-customer-content">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <label class="e-frame-label">Email :</label>
          </div>
          <div class="col-4">
            <label class="e-frame-label">{{
              customer.contactMedium?.email
            }}</label>
          </div>
          <div class="col-2">
            <label class="e-frame-label">Home Phone :</label>
          </div>
          <div class="col-4">
            <label class="e-frame-label">{{
              customer.contactMedium?.homePhone
            }}</label>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-2">
            <label class="e-frame-label">Mobile Phone :</label>
          </div>
          <div class="col-4">
            <label class="e-frame-label">{{
              customer.contactMedium?.mobilePhone
            }}</label>
          </div>
          <div class="col-2">
            <label class="e-frame-label">Fax :</label>
          </div>
          <div class="col-4">
            <label class="e-frame-label">{{
              customer.contactMedium?.fax
            }}</label>
          </div>
        </div>
        <button etiyaButton="remove"></button>
        <button
          etiyaButton="edit"
          [routerLink]="
            '/dashboard/customers/customer-contact-form/' + selectedCustomerId
          "
        ></button>
      </div>
    </div>
  </app-main-layout>
</div>
