@import "primeflex/primeflex.css";

.login-background {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../../../assets/img/login_background.png') !important;


}

 .login-container {

    margin: 0px;
    min-height: 100vh;
    width: 100%;
    position: relative;

}

.login-general-container {
    background-color: transparent !important;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 0;

}

.login-title1{
    color: #FFFF !important;
}

.login-title2{
    color: #f5821f !important;
}


.text-900 {
    color: #f5821f !important;
}

.text-600 {
    color: #f5821f !important;
}


.text-500 {
    color: white !important;
}

.e-check-label {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;


    color: rgba(255, 255, 255, 0.8);
}

.e-forgot-password {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.e-form-text {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    opacity: 0.6;
}

::ng-deep .warn-toast .p-toast .p-toast-message .p-toast-icon-close {
    display: none;
}

::ng-deep .warn-toast .p-toast .p-toast-message .p-toast-icon-close:hover {
    display: none;
}

.invalid-input{
    border-color: red;
}

.invalid-input::placeholder{
    color: red;
}
