<!-- <app-basket></app-basket> -->
<router-outlet></router-outlet>
<app-warning-message class="warn-toast"></app-warning-message>
<app-confirmation-dialog></app-confirmation-dialog>
<app-custom-toast></app-custom-toast>

<!-- form frame ve labelların olduğu frame çağrılması istenen yerde yazılması gereken html -->

<!-- <div class="e-frame-container">
    <span class="e-form-frame"></span>
</div> -->

<!-- <div class="e-frame-container">
    <span class="e-frame">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <label class="e-frame-label">Email:</label>
                </div>
                <div class="col-4">
                    <label class="e-frame-label">Mertkaya@gmail.com</label>
                </div>
                <div class="col-2">
                    <label class="e-frame-label">Home Phone:</label>
                </div>
                <div class="col-4">
                    <label class="e-frame-label">4567623</label>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="e-frame-label">Mobile Phone:</label>
                </div>
                <div class="col-4">
                    <label class="e-frame-label">546 678 12 87</label>
                </div>
                <div class="col-2">
                    <label class="e-frame-label">Fax:</label>
                </div>
                <div class="col-4">
                    <label class="e-frame-label">1234567</label>
                </div>
            </div>
            
            <button class="e-btn-remove"></button>
            <button class="e-btn-edit"></button>
        </div>
    </span>
</div> -->

<!-- *********************************************************** -->

<!-- accordionu çağırmak için kullanılan kod -->
<!-- <app-table-accordion></app-table-accordion> -->

<!-- Button ve dropdown için html -->
<!-- <app-add-new-item-button [btnAdressTitle]="'Add New Adress'"></app-add-new-item-button> -->

<!-- info title çağrılcak yerde yazılacak kod -->
<!-- <app-info-title [infoTitle]="'Demographic Info'"></app-info-title> -->

<!-- main layout çağırılacağı yerde yazılacak kod -->
<!-- <app-main-layout [layoutTitle]="'CREATE CUSTOMER'"></app-main-layout> -->

<!-- warning message çağıralacak yerde yazılacak kod -->
<!-- <app-warning-message warnText="Wrong Username or Password. Please try again"></app-warning-message>
<app-warning-message warnText="The password was entered incorrectly 3 times."></app-warning-message> -->

<!-- confirm component çağırmak için çağırcağımız yerde yazılacak kod -->
<!-- <app-confirm></app-confirm> -->

<!-- container html içerisine not found çağırmak için yazılacak kod -->
<!-- <app-container>
    <app-not-found [btnText]="'CREATE CUSTOMER'"></app-not-found>
</app-container> -->

<!-- not found çağrılcağı yerde yazılması gereken kod -->
<!-- <app-not-found [btnText]="'CREATE CUSTOMER'"></app-not-found> -->

<!-- table info çağrıldığı yerdeki html -->
<!-- <app-table-info></app-table-info> -->

<!-- User info çağrıldığı yerdeki html kodu -->
<!-- <div class="app-user-info">
    <app-user-info></app-user-info>
</div> -->

<!-- Navbar için çağrıldığı yerdeki html -->
<!-- <app-navbar></app-navbar> -->

<!-- Settings menü için çağırılması istenen yerdeki html -->
<!-- <app-settings-menu></app-settings-menu> -->

<!-- side filter search için html -->
<!-- <app-side-filter [filterTitle]="'SEARCH CUSTOMER'"></app-side-filter> -->

<!-- 
login inputları ve butonu -->

<!-- <br>
<br>
<div class="e-form-container">
    <p class="e-form-text">Please your enter Username and password to login</p>
    <form>
        <div class="form-group">
            <input type="text" etiyaInput='white' placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" etiyaInput='white' placeholder="Password" />
        </div>
        <div class="form-check d-flex justify-content-between mb-4">    
            <div>
                <input type="checkbox" etiyaCheckBox="dark" id="exampleCheck1" />
                <label class="form-check-label e-check-label"  for="exampleCheck1">Remember Me</label>   
            </div>   
            <div>
                <a class="e-forgot-password">Forgot password?</a> 
            </div>      
                         
        </div>
        <button type="submit" class="btn btn-primary e-btn-login">LOG IN</button>
    </form>
    
</div> -->

<!-- Overlay loading için gerekli html -->
<!-- <etiya-overlay-title [title]="'WELCOME'" class="mc1"></etiya-overlay-title>
<etiya-overlay-title [title]="'TO'" class="mc1"></etiya-overlay-title>
<etiya-overlay-title [title]="'ETİYA'" class="mc"></etiya-overlay-title> -->
