@import '../styles.css';


/* frame in css değerleri */
/* .e-frame-container {
    position: relative;
}

.e-form-frame {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 258px;
    background: rgba(13, 43, 80, 0.7);
    border: 3px solid #F52020;
    border-radius: 22px;
}

.e-frame {
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    height: 258px;

    background: rgba(13, 43, 80, 0.7);
    border: 3px solid #F58220;
    border-radius: 22px;
}

.e-frame-label {
    margin-top: 25px;
    width: 100%;
    height: 31px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    color: #FFFFFF;
}

.e-btn-edit {
    box-sizing: border-box;
    width: 42px;
    height: 47px;
    background: url("../assets/img/edit-btn-img.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F58220;

    margin-right: 15px;
    float: right;
}

.e-btn-remove {
    box-sizing: border-box;
    width: 41px;
    height: 47px;
    background: url("../assets/img/remove-btn-img.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F58220;
    float: right;
} */







/* User-info çağrıldığı yerdeki css */
/* .app-user-info{
    width: 332px;
} */



/* login input ve butonu */

/* .e-input-white {
    width: 100%;;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 20px;
}

.e-form-text {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    opacity: 0.6;
}

.e-input-white::placeholder {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

    letter-spacing: 0.17em;

    color: rgba(0, 0, 0, 0.6);
}


.e-btn-login {
    width: 100%;
    height: 50px;
    background-color: #F58220;
    
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;

    letter-spacing: 0.06em;

    color: #FFFFFF;

    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.e-check-box {
    box-sizing: border-box;


    width: 21px;
    height: 19px;
    left: 843px;
    top: 631px;

    background: #061F3E;
    border: 1px solid #F58220;
    border-radius: 3px;
}

.e-check-label {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;


    color: rgba(255, 255, 255, 0.8);
}

.e-forgot-password {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.e-form-container {
    width: 40%;
    margin-left: 30px;
} */




/* .mc1{
    color: white !important;
}

overlay loading gerekli css 

.mc{
    color: #F58220 !important;
} */