<div class="e-accordion-header">
  <div class="col-1"></div>
  <div class="col-2 e-accordion-text">Account Status</div>
  <div class="col-2 e-accordion-text">Account Number</div>
  <div class="col-2 e-accordion-text">Account Name</div>
  <div class="col-3 e-accordion-text">Account Type</div>
  <div class="col-2 e-accordion-text">Action</div>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item" *ngFor="let bill of billingAccountList">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
        <div class="col-12 e-accordion-cols">
          <div class="col-1 e-accordion-text"><img src="../assets/img/down_arrow.png" alt=""></div>
          <div class="col-2 e-accordion-text">{{bill.status}}</div>
          <div class="col-2 e-accordion-text">{{bill.accountNumber}}</div>
          <div class="col-2 e-accordion-text">{{bill.accountName}}</div>
          <div class="col-3 e-accordion-text">Billing Account</div>
          <div class="col-2 e-accordion-text"><img src="../assets/img/delete_accordion.png"><img
              src="../assets/img/pencil_accordion.png"></div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-9">
            <table class="table e-accordion-table">
              <thead>
                <tr class="e-accordion-table-title">
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name Action</th>
                  <th scope="col">Campaign Name</th>
                  <th scope="col">Campaign ID</th>
                  <th scope="col"></th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="e-accordion-table-body" >
                <tr *ngFor="let product of productList">
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.id}}</td>
                  <td>{{product.id}}</td>
                  <td></td>
                  <td><img src="../assets/img/delete_accordion.png"><img src="../assets/img/eye_accordion.png"></td>

                </tr>

                <br><br><br><br><br><br>
              </tbody>
            </table>
          </div>
          <div class="col-3 e-accordion-body-buttons">
            <button etiyaButton="accordion-body">Start New Sale</button>
            <button etiyaButton="accordion-body">Transfer</button>
            <button etiyaButton="accordion-body">Service Address Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
        <div class="col-12 e-accordion-cols">
          <div class="col-1 e-accordion-text"><img src="../assets/img/down_arrow.png" alt=""></div>
          <div class="col-2 e-accordion-text">Active</div>
          <div class="col-2 e-accordion-text">1001223241</div>
          <div class="col-2 e-accordion-text">1001223241</div>
          <div class="col-3 e-accordion-text">Billing Account</div>
          <div class="col-2 e-accordion-text"><img src="../assets/img/delete_accordion.png"><img
              src="../assets/img/pencil_accordion.png"></div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-9">
            <table class="table e-accordion-table">
              <thead>
                <tr class="e-accordion-table-title">
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name Action</th>
                  <th scope="col">Compaign Name</th>
                  <th scope="col">Compaign ID</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="e-accordion-table-body">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">001</td>
                  <td>ADsL8MB</td>
                  <td></td>
                  <td></td>
                  <td><img src="../assets/img/delete_accordion.png"><img src="../assets/img/eye_accordion.png"></td>
                </tr>
                <tr>
                  <td scope="row">002</td>
                  <td>ADSL Data Modem</td>
                  <td></td>
                  <td></td>
                  <td><img src="../assets/img/delete_accordion.png"><img src="../assets/img/eye_accordion.png"></td>
                </tr>
                <br><br><br><br><br><br>
              </tbody>
            </table>
          </div>
          <div class="col-3 e-accordion-body-buttons">
            <button class="e-accordion-body-button">Start New Sale</button>
            <button class="e-accordion-body-button">Transfer</button>
            <button class="e-accordion-body-button">Service Address Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
        <div class="col-12 e-accordion-cols">
          <div class="col-1 e-accordion-text"><img src="../assets/img/down_arrow.png" alt=""></div>
          <div class="col-2 e-accordion-text">Active</div>
          <div class="col-2 e-accordion-text">1001223241</div>
          <div class="col-2 e-accordion-text">1001223241</div>
          <div class="col-3 e-accordion-text">Billing Account</div>
          <div class="col-2 e-accordion-text"><img src="../assets/img/delete_accordion.png"><img
              src="../assets/img/pencil_accordion.png"></div>
        </div>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row">
          <div class="col-9">
            <table class="table e-accordion-table">
              <thead>
                <tr class="e-accordion-table-title">
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name Action</th>
                  <th scope="col">Compaign Name</th>
                  <th scope="col">Compaign ID</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="e-accordion-table-body">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">001</td>
                  <td>ADsL8MB</td>
                  <td></td>
                  <td></td>
                  <td><img src="../assets/img/delete_accordion.png"><img src="../assets/img/eye_accordion.png"></td>
                </tr>
                <tr>
                  <td scope="row">002</td>
                  <td>ADSL Data Modem</td>
                  <td></td>
                  <td></td>
                  <td><img src="../assets/img/delete_accordion.png"><img src="../assets/img/eye_accordion.png"></td>
                </tr>
                <br><br><br><br><br><br>
              </tbody>
            </table>
          </div>
          <div class="col-3 e-accordion-body-buttons">
            <button class="e-accordion-body-button">Start New Sale</button>
            <button class="e-accordion-body-button">Transfer</button>
            <button class="e-accordion-body-button">Service Address Page</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
