<div class="e-contact-medium-container">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-end">
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-end p-0">
                <app-user-info></app-user-info>
            </div>
        </div>
    </div>
    <app-main-layout [layoutTitle]="'Customer Info'">
        <div class="e-customer-content">
            <div class="d-flex justify-content-center">
                <form [formGroup]="updateCustomerForm" class="e-contact-form">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="first-name">First Name* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="firstName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="middle-name">Middle Name* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="middleName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="last-name">Last Name* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="lastName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="birth-date">Birth Date* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="birthDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="gender">Gender*</label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <div class="e-dropdown">
                                        <select name="gender" id="gender" formControlName="gender">
                                            <option selected value="Kadın">Kadın</option>
                                            <option value="Erkek">Erkek</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="father-name">Father Name* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="fatherName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="mother-name">Mother Name* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="motherName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
                            <div class="row e-customer-input">
                                <div class="col-12 col-lg-3 d-flex justify-content-lg-start align-items-center">
                                    <label for="national-id">Nationality ID* </label>
                                </div>
                                <div class="col-12 col-lg-9 d-flex justify-content-lg-start align-items-center">
                                    <input type="text" etiyaInput="dark" formControlName="nationalId" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 d-flex justify-content-center">
                        <div class="col-2">
                            <button etiyaButton="clear" style="width: 164px">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row w-75" style="margin-top: 100px">
                    <div class="col-12 col-lg-6 d-flex justify-content-lg-start">
                        <button etiyaButton="clear" routerLink="recipes">Previous</button>
                    </div>
                </div>
            </div>
        </div>
    </app-main-layout>

</div>