<div class="row">
  <table class="e-table table table-bordered">
    <thead>
      <tr class="table-title">
        <th class="col-2">Customer ID</th>
        <th class="col-2">First Name</th>
        <th class="col-2">Second Name</th>
        <th class="col-2">Last Name</th>
        <th class="col-2">Role</th>
        <th class="col-2">ID Number</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr>
        <th>306789</th>
        <td>Mert</td>
        <td>Metin</td>
        <td>Özkan</td>
        <td>Customer</td>
        <td>2314324</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>