/* clear,save,next,previous,create
disable next
login
search
create customer
add new adress */


/* login butonu */
.e-btn-login {
    width: 100%;
    height: 50px;
    background-color: #F58220 !important;

    font-family: 'Anybody';
    font-weight: bold;
    font-size: 22px;
    line-height: 23px;

    letter-spacing: 0.06em;

    color: #FFFFFF !important;

    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

/* clear disable iken */
.e-btn-clear-disabled {
    box-sizing: border-box;

    width: 118px;
    height: 41px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;

    background: rgba(245, 130, 32, 0.7);
    border: 1px solid #F58220;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.25), inset -1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

/* clear button enable,save,next,previous,create */
.e-btn-clear {
    box-sizing: border-box;

    width: 118px;
    height: 41px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;

    background: #F58220;
    border: 1px solid #F58220;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.25), inset -1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

/* search button ve img */

.e-btn-search {
    box-sizing: border-box;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #061F3E;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #FFFFFF;
}

.e-btn-img-search {
    width: 36px;
}

/* create butonu  */

.e-btn-create {
    background: rgba(245, 130, 32, 0.8);
    border-radius: 7px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    margin-top: 20px;
    cursor: pointer;


    color: #FFFFFF;
}

.e-btn-create-logo {
    margin-top: -10px;
    width: 50px;
    color: #FFFFFF;
}

/* new adress butonu veya ekleme butonu */
.e-btn-new-address {
    background-color: transparent;
    border: none;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
}


.e-btn-edit {
    box-sizing: border-box;
    width: 42px;
    height: 47px;
    background: url("../../assets/img/edit-btn-img.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F58220;
    margin-right: 15px;
}

.e-btn-remove {
    box-sizing: border-box;
    width: 41px;
    height: 47px;
    background: url("../../assets/img/remove-btn-img.png");
    background-size: cover;
    background-position: center;
    border: 1px solid #F58220;
}


.e-btn-accordion-body {
    box-sizing: border-box;

    width: 232px;
    height: 43px;

    background: #061F3E;
    border: 4px solid #F58220;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 10px 4px -2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin: 15px 0px;

    color: #FFFFFF;
}