<div class="e-create-customer-table">
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6"></div>
    <div class="col-12 col-lg-6 d-flex justify-content-end p-0">
      <app-user-info></app-user-info>
    </div>
  </div>
</div>
<app-main-layout [layoutTitle]="'Create Customer'">
<div class="e-customer-content mb-5">
<div class="d-flex justify-content-center customer-title mb-5">
  <app-info-title [infoTitle]="'Demographic Info'" ></app-info-title>
</div>
<div class="d-flex justify-content-center">
  <form [formGroup]="profileForm" class="w-75">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="first-name">First Name* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="firstName" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="middle-name">Middle Name* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="middleName" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="last-name">Last Name* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="lastName" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="birth-date">Birth Date* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="birthDate" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="gender">Gender*</label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <div class="e-dropdown">
              <select name="gender" id="gender" formControlName="gender">
                <option selected value="Kadın">Kadın</option>
                <option value="Erkek" >Erkek</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="father-name">Father Name* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="fatherName" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="mother-name">Mother Name*  </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="motherName" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d=flex justify-content-start mb-5">
        <div class="row e-customer-input">
          <div class="col-12 col-lg-4 d-flex justify-content-lg-start align-items-center">
            <label for="national-id">Nationality ID* </label>
          </div>
          <div class="col-12 col-lg-8 d-flex justify-content-lg-start align-items-center">  
            <input type="text" etiyaInput="dark" formControlName="nationalId" />
          </div>
        </div>
      </div>
    </div>
    </form>
</div>
<div class="d-flex justify-content-center">
  <div class="row mt-5 w-75">
    <div class="col-12 col-lg-6 d-flex justify-content-lg-start"><button etiyaButton="clear-disabled" routerLink ="recipes">CANCEL</button></div>
    <div class="col-12 col-lg-5 d-flex justify-content-lg-end"><button etiyaButton="clear-disabled">NEXT</button></div>
  </div>
</div>

</div>
</app-main-layout>

</div>

