<div class="e-settings-container">
    <div class="e-settings-items active">
        <img src="../../../../assets/img/b2c_logo.png">
        <label class="e-label-set">B2C</label>
    </div>
    <div class="e-settings-items">
        <img src="../../../../assets/img/b2b_logo.png">
        <label class="e-label-set">B2B</label>
    </div>
    <div class="e-settings-items">
        <img src="../../../../assets/img/hands_right_logo.png">
    </div>
    <div class="e-settings-items">
        <img src="../../../../assets/img/power_logo.png">
    </div>
</div>
